
@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200;400;500;700&display=swap');

h1 {
    font-family: 'Ojuju', sans-serif;
    font-weight: 100; 
    font-size: 5rem; 
    color: rgb(188, 201, 214);  
  }

  
h2 {
    font-family: 'Ojuju', sans-serif;
    font-weight: 100; 
    font-size: 3rem; 
    color: rgb(105, 114, 122);  
  }
